/*
* Home
*/
.main-padding {
  max-width: 1168px;
  padding: 121px 0 15px;
  margin: 0 auto;
  font-family: 'PoppinsM' !important;
  line-height: 1.15;
}
.header {
  max-width: 1168px;
  margin: 0 auto;
  background-color: #181924 !important;
  box-shadow: none !important;
  font-family: 'PoppinsR' !important;
  padding: 20px auto;
  @media (min-width: 768px) {
    width: calc(100% - 30px);
  }
  .header-border {
    height: 1px;
    background-color: #3f4252;
    width: 100%;
    margin: 0 auto;
    @media (min-width: 768px) {
      width: calc(100% - 30px);
    }
  }
}
.footer {
  width: 100%;
  max-width: 1168px;
  margin: 0 auto;
  background-color: #24252f !important;
  box-shadow: none;
  border: none;
  font-family: 'PoppinsL' !important;
  font-size: 14px;
  @media (min-width: 768px) {
    padding-right: 30px;
    padding-left: 30px;
  }
}
.subfooter {
  width: 100%;
  max-width: 1168px;
  margin: 0 auto;
  box-shadow: none;
  border: none;
  font-family: 'PoppinsL' !important;
  font-size: 14px;
  @media (min-width: 768px) {
    padding-right: 30px;
    padding-left: 30px;
  }
}

// Textfield material ui
.MuiTextField-root > label {
  color: gray;
  font-size: 16px;
}

.MuiTextField-root > .MuiFormLabel-root.Mui-focused {
  color: gray;
  font-size: 16px;
}

.ml-20 {
  margin-left: 20px;
}
.mr-20 {
  margin-right: 20px;
}
.p-25 {
  padding: 25px;
}
.d-box-shadow1 {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}
.d-border {
  border: none !important;
}
.font-20 {
  font-size: 20px;
}
.font-25 {
  font-size: 25px;
}

// Exchange Widget
.button-sign {
    background-color: white;
    color: red;
    padding: 12px 16px;
    font-size: 16px;
    line-height: 16px;
  }

.button-sign:hover, .button-sign-active {
    background-color: #24252f;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    line-height: 16px;
}

.card-exchange {
  min-width: 468px;
  max-width: 650px;
  margin: 0 auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 20px 20px 60px #232b33;
  color: black;
  padding: 30px;

  .button-exchange {
    background-color: red;
    color: white;
    margin-top: 15px;
    padding: 14px 16px;
    font-size: 16px;
    line-height: 21px;
  }
  .button-exchange:hover {
      background-color: rgba(255, 0, 0, 0.63);
  }

  .card-exchange-rate {
    margin: 12px 0;
    color: #181c1f;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 600;
  }

  .button-currency {
    color: black;
    width: 110px;
    padding-left: 8px;

    .small-full-currency {
      font-size: 13px;
      line-height: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #b4b4b4;
      text-align: left;
    }
    .currency-name {
      text-align: left;
      font-weight: 700;
      line-height: 28px;
      font-size: 20px;
      color: #394247;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .status-icon {
      padding-top: 15px;
    }
  }
}

.card-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto 0 auto 50px;

  @media (max-width: 768px) {
    margin: auto 0 auto 0;
  }
  // Intro
  .intro-title {
    margin: 0;
    font-size: 50px;
    line-height: 60px;
    max-width: 550px;
    zoom: 1;
    text-align: left;
    margin-bottom: 2rem;
    @media (max-width: 768px) {
      min-width: 368px;
      font-size: 32px;
      line-height: 30px;
    }
  }
  .intro-desc {
    margin: 16px 0 0;
    padding: 0;
    line-height: 24px;
    font-size: 18px;
  }
  .img-mobile-store {
    border-radius: 0px !important;
  }
  .unicash-url {
    font-size: 30px;
    color: #3D98BF;
  }
  .online-status {
    background-color: #00ff00;
    color: #00ff00;
    border-radius: 50%;
    width: 10px !important;
    height: 10px !important;
    text-align: center;
    margin: auto;
  }
}
.transaction-table {
  .header-title {
    font-size: 24px !important;
    line-height: 32px;
    font-family: 'PoppinsM' !important;
  }
  table {
    font-size: 16px;
  }
}
.widget-feedbacks {
  padding: 40px 0;
  justify-content: space-between;
  .header-title {
    font-size: 24px !important;
    line-height: 32px;
    font-family: 'PoppinsM' !important;
  }
  .widget-feedback {
    min-height: 150px;
    padding: 24px;
    border-radius: 4px;
  }

  .feedback { padding-left: 24px; }
  .feedback-auth { font-size: 20px; line-height: 28px; }
  .feedback-content { font-size: 14px; line-height: 20px; margin-top: 16px;}

}


.dropdown-toggle-exchange {
  background-color: transparent !important;
  box-shadow: none !important;
  font-size: 25px;
  margin-bottom: 0px !important;
}

.widget-advantage {
  height: 200px;
  padding: 30px 25px;
  img {
    width: 48px;
    height: 48px;
    min-width: 48px;
    min-height: 48px;
  }
  p {
    margin-top: 28px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    text-align: center;
    cursor: default;
  }
}

/*
* **************** Sign In ***************
*/
.signin-widget {
  width: 400px;
  margin: auto;
}

.signin-button {
  width: 100%;
  background-color: red;
  color: white;
  border: none;
  font-size: 20px;
}

.signin-button:hover {
  background-color: white;
  color: red;
  border: 1px solid red;
}

.auth-modal {
  background-color: transparent !important;
}