/*
* Home
*/
.main-padding {
  max-width: 1168px;
  padding: 121px 0 15px;
  margin: 0 auto;
  font-family: 'PoppinsM' !important;
  line-height: 1.15;
}
.header {
  max-width: 1168px;
  margin: 0 auto;
  background-color: #181924 !important;
  height: 60px !important;
  box-shadow: none !important;
  font-family: 'PoppinsR' !important;
  @media (min-width: 768px) {
    width: calc(100% - 60px);
  }
  .header-border {
    height: 1px;
    background-color: #3f4252;
    width: 100%;
    margin: 0 auto;
    @media (min-width: 768px) {
      width: calc(100% - 30px);
    }
  }
}
.footer {
  width: 100%;
  max-width: 1168px;
  margin: 0 auto;
  background-color: #24252f !important;
  box-shadow: none;
  border: none;
  font-family: 'PoppinsL' !important;
  @media (min-width: 768px) {
    padding-right: 30px;
    padding-left: 30px;
  }
}
.subfooter {
  width: 100%;
  max-width: 1168px;
  margin: 0 auto;
  box-shadow: none;
  border: none;
  font-family: 'PoppinsL' !important;
  @media (min-width: 768px) {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.ml-20 {
  margin-left: 20px;
}
.mr-20 {
  margin-right: 20px;
}
.p-25 {
  padding: 25px;
}
.d-box-shadow1 {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}
.d-border {
  border: none !important;
}
.font-20 {
  font-size: 20px;
}
.font-25 {
  font-size: 25px;
}

// Exchange Widget
.button-sign {
    background-color: white;
    color: red;
    border: none;
    font-size: 18px;
  }

.button-sign:hover, .button-sign-active {
    background-color: red;
    color: white;
    border: none;
    font-size: 18px;
}

.card-exchange {
  background-color: white;
  color: black;
  border-radius: 10px;
  min-width: 400px;
  padding: 30px;

  .card-exchange-title {
    font-size: 25px;
    color: gray;
    text-transform: uppercase;
    margin-bottom: 0px;
  }
  .card-exchange-value {
    font-size: 30px;
    margin-top: -7px;
    margin-bottom: 5px;
  }
  .card-exchange-rate {
    font-weight: bold;
    color: gray;
    font-size: 25px;
  }
  .button-exchange {
    background-color: red;
    color: white;
    border: none;
    font-size: 32px;
    margin-top: 15px;
    border-radius: 10px;
    padding: 5px;
  }
  .button-exchange:hover {
      background-color: rgb(94, 255, 0);
      color: white;
  }

  .dropdown-toggle-currency {
    font-size: 30px;
    margin-top: -10px !important;
  }
  .dropdown-toggle-menu {
    background-color: rgb(241, 240, 240) !important;
    color: rgb(46, 45, 45) !important;
  }
  .dropdown-toggle-menuitem {
    background-color: rgb(241, 240, 240) !important;
    color: rgb(46, 45, 45) !important;
  }
  .dropdown-toggle-menuitem:hover {
    color: rgb(245, 11, 11) !important;
  }
}

.card-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto 0 auto 50px;
  // Intro
  .intro-title {
    margin: 0;
    font-size: 52px;
    line-height: 60px;
    max-width: 550px;
    zoom: 1;
    text-align: left;
    margin-bottom: 2rem;
  }
  .intro-desc {
    margin: 16px 0 0;
    padding: 0;
    line-height: 24px;
    font-size: 16px;
  }
  .img-mobile-store {
    border-radius: 0px !important;
  }
  .unicash-url {
    font-size: 30px;
    color: #3D98BF;
  }
  .online-status {
    background-color: #00ff00;
    color: #00ff00;
    border-radius: 50%;
    width: 10px !important;
    height: 10px !important;
    text-align: center;
    margin: auto;
  }
}

.transaction-table {
  .header-title {
    font-size: 20px;
  }
}

.dropdown-toggle-exchange {
  background-color: transparent !important;
  box-shadow: none !important;
  font-size: 25px;
  margin-bottom: 0px !important;
}

/*
* **************** Sign In ***************
*/
.signin-widget {
  width: 400px;
  margin: auto;
}

.signin-button {
  width: 100%;
  background-color: red;
  color: white;
  border: none;
  font-size: 20px;
}

.signin-button:hover {
  background-color: white;
  color: red;
  border: 1px solid red;
}
